@import "../../responsive.scss";

.searchBar {
  width: auto;
  z-index: 2;
  .type {
      gap: 15px;

    button {
      padding: 16px 36px;
      border: 1px solid #999;
      border-bottom: none;
      cursor: pointer;
      background-color: white;
      text-transform: capitalize;
      color: black;
      &.active {
        background-color: black;
        color: white;
      }

      &:first-child {
        border-top-left-radius: 5px;
        border-right: none;
      }
      &:last-child {
        border-top-right-radius: 5px;
        border-left: none;
      }
    }
  }

  form {
    border: 1px solid #999;
    display: flex;
    justify-content: space-between;
    height: 64px;
    gap: 5px;

    @include sm {
      flex-direction: column;
      border: none;
    }

    input {
      border: none;
      padding: 0px 10px;
      width: 210px;

      @include lg {
        padding: 0px 5px;

        &:nth-child(2),
        &:nth-child(3) {
          width: 140px;
        }
      }
      @include md {
        width: 200px;
        &:nth-child(2),
        &:nth-child(3) {
          width: 200px;
        }
      }

      @include sm{
        width: auto;
        &:nth-child(2),
        &:nth-child(3) {
          width: auto;
        }
        padding: 20px;
        border: 1px solid #999;
      }
    }

    span{
        gap: 8px;
        display: flex;
        margin-left: 5px;
        position: relative;
        .date{
          position: absolute;
          top:70px;
          z-index: 2;
        }
        .icon{
          position: absolute;
          top: 42%;
        }
        
      .input {
        border: none;
        padding: 10px 10px ;
        width: 210px;
        padding-left: 15%;
        color: #696767;
        @include lg {
          padding: 0px 5px;
  
          &:nth-child(2),
          &:nth-child(3) {
            width: 140px;
          }
        }
        @include md {
          width: 200px;
          &:nth-child(2),
          &:nth-child(3) {
            width: 200px;
          }
        }
  
        @include sm{
          width: auto;
          &:nth-child(2),
          &:nth-child(3) {
            width: auto;
          }
          padding: 20px;
          border: 1px solid #999;
        }
      }
      .options{
        position: absolute;
        top: 55px;
        color: gray;
        background-color: white;
        border-radius: 5px;
        border: 1px solid gray;
          .option-item{
            width: 200px;
            display: flex;
            justify-content: space-between;
            margin: 10px;
            padding: 5px;
              .option-counter{
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 12px;
                color: black;
                  .option-counter-btn{
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    border: 1px solid gray;
                    background-color: #fece51;
                    color: #999;
                    display: flex;
                    align-items: center;
                  }
              }
          }
      }
    }

    a{
      flex: 1;
      background-color: #fece51;
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        border: none;
        cursor: pointer;
       
        flex: 1;
  
        @include sm{
      //    padding: 10px;
        }
  
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
   
  }
}



