@import "../../responsive.scss";

.profilePage {
  display: flex;
//  min-height: 100vh;
  max-height: 100%;
  width: 100%;
  @include md{
    flex-direction: column;
    overflow: scroll;
  }

  .details {
   // flex: 3;
   width: 100%;
  // background-color: #fece51;
    overflow-y: scroll;
    padding-bottom: 50px;
   // border: 1px solid gray;
   // padding: 5vh;
    @include md{
      flex:none;
      height: max-content;
    }

    .wrapper{
   //   padding-right: 50px;
      display: flex;
      flex-direction: column;
   //   width: 100%;
     // gap: 50px;

      .title{
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1{
          font-weight: 300;
        }

        button{
          background-color: #fece51;
          cursor: pointer;
          border: none;
        }
      }
      .user-description{
        width: 40vh;
        display: flex;
        flex-wrap: wrap;
      }
      .profile-img-container{
        border: 1px solid gainsboro;
        width: min-content;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
        span{
          display: flex;
          align-items: center;
        //  gap: 20px;
        }

        .profile-pic{
          width: 50vh;
          height: 20vh;
          object-fit: cover;
        }
      }
      .profile-info-container{
       width: 100%;
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5vh;
       // flex:3;
       // height:35vh;
       .posts-container{
          .count{
            font-size: 15px;
          }
       }
      }
      .followers-lbl{
        font-size: 20px;
        font-weight: 500;
       }
      .right-container{
        margin-top:2%;
      }
    }
  }
  .chatContainer {
   // flex: 1;
   float: right;
   right: 0px;
    width: 40vh;
  //  background-color: #fcf5f3;
   // border: 2px solid #999;
    height: 50vh;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
     
   // max-height: 100%;
    @include md{
      flex:none;
      height: max-content;
    }

    .chat-wrapper{
      padding: 0px 20px;
      height: 100%;
    }
  }
}
.btn{
 // width: 100px;
  padding: 10px 20px ;
  gap: 10px;
  background-color: teal;
  border: none;
  color: white;
  border-radius: 5px;
}
.list-container{
  
}