@import "../../responsive.scss";

.listPage {
  display: flex;
  justify-content: space-between;
  height: 100%;
  max-width: 100%;
  width: auto;
  margin-top: 2%;
  .bookingFilterContainer{
    width: 25%;
  }
  .listContainer {
    width: 60%;
    height: 100%;

    .wrapper{
      height: 100%;
      padding-right: 50px;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      overflow-y: scroll;
      padding-bottom: 50px;
    }
  }
  .mapContainer {
    width: 25%;
    height: 100%;
 
    @include md{
      display: none;
    }
  }
}
