@import "../../responsive.scss";
::-webkit-scrollbar{
  scrollbar-width: none;
}
.listPage {
  display: flex;
  justify-content: space-between;
  height: 100%;
  max-width: 100%;
  width: auto;
  margin-top: 2%;
  z-index: 0;
  .bookingFilterContainer{
    width: 22%;
    position: -webkit-sticky;
  }
  .listContainer {
    width: 60%;
    height: 100%;

    .wrapper{
      height: 100%;
      padding-right: 50px;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      overflow-y: scroll;
      padding-bottom: 50px;
    }
  }
  .mapContainer {
    width: 25%;
    height: 80vh;
 
    @include md{
      display: none;
    }
  }
}
