@import "../../responsive.scss";
/* App.css */
.like-popup {
    width: 200px;
    max-height: 150px;
    overflow-y: auto;
  }
  .hover-scaleUp:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
  }

  /* Add this CSS if needed */
.like-popup .popup-content h3 {
  font-size: 14px;
  margin: 0 0 8px;
}

.like-popup ul li {
  display: flex;
  align-items: center;
}
