.list{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.no-post-container{
  display: flex;
  justify-content: center;
  align-items: center;
  color: gainsboro;
  font-weight: 400;
  font-size: 40px;
}